@font-face {
    font-family: 'Product Sans';
    src: local('Product Sans'), local('ProductSans-Regular'),
        url('ProductSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Product Sans';
    src: local('Product Sans Bold'), local('ProductSans-Bold'),
        url('ProductSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Product Sans';
    src: local('Product Sans Italic'), local('ProductSans-Italic'),
        url('ProductSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

